html
  head
    title Welcome Page
    link(rel="stylesheet" href="style.css")
  body
    div(class="container")
      h1 Posts API
      p Welcome to Posts API! a REST API that models a simple social media application using Users, Posts, and Comments as entities. 
      p To create a new user account with Posts API, click on the button below which will redirect you to Google's OAuth 2.0 endpoint; Once you are authenticated, you will be redirected to a User page where your JWT will be displayed, you can use that JWT to send authenticated requests to the Posts API to create Posts and Comments.
      a(href='auth') Create User Account  
